/*Tout les éléments à zéro */
* {
	margin : 0;
	padding : 0;
}

/* Texte *Gmail+Image* en haut à gauche */
.TexteNormal, .TexteIcones {
	text-decoration: none;
	color: black;
}
	/* Souligner les mots précédents quand on passe dessus*/
	.TexteNormal:hover {
		text-decoration: underline;
	}

	/* Réglages des mots (et des icônes) sur la page marqués par span*/
	div {
		padding: 5px;
		position: relative;
		top: 10px;
		right: 14px;
		font-size: 14px;
	}
	/* Ce qui va être écrit en haut à droite */
	div {
		float: right;
}
/* On définit les paramètres du logo google*/
#logoGoogle {
	margin: auto;
	padding-top: 200px;
	padding-bottom: 20px;
	text-align: center;
	display: block;
}
	/* On définit les paramètres de du container*/

	#container {
		padding: 10px;
		margin: auto;
		width: 1000px;
		height: 800px;
	}
	/* On définit les paramètres la SearchBar dans le container*/
	#search {
		margin :auto;
		padding: 10px;
		text-align: center;
	width: 600px;
	height: 50px;
	}
	/*On définit les paramètres du texte de la Search dans le container*/
	#TexteSearch {
		position: relative;
		top: -45px;
		border-style: none;
	}

/*Paramétrages des trois boutons*/
#boutons {
	margin: auto;
	width: 400px;
	height: 200px;
	text-align: center;
}
	/* Deux boutons en dessous de la barre de recherche */
	button {
		padding: 10px;
		margin: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-style: none;
	}
	/*Bouton "langage"!*/
	#BoutonLangage {
		text-decoration: none;
		color: blue;
	}

/* Bas de la page*/
footer {
	position: absolute;
	bottom: 0;
	width: 1920px;
	height: 70px;
}

/* Contenu du bas de la page (texte à gauche et à droite)*/
#BasDePage {
	padding: 10px;

}
	/* Texte en bas à droite */
	#BasDePageDroite {
		position: relative;
		float: right;
}
	/* Texte en bas à gauche*/
	#BasDePageGauche {
		float: left;
}
/* Remplacer par tes appelations*/